{% extends 'base/default.html' %}
 
<!-- Название у нас будет products -->
{% block title %}
Products
{% endblock title %}
 
<!-- В контенте на странице мы выводим сам товар, ID которого было передано в адрес -->
{% block content %}
    <h1>{{ post.header }}</h1>
    <p>{{ post.category }}</p>
    <p>{{ post.content | safe }}</p>
    <p>{{ post.author }}</p>
    <p></p>
    <br>

    <p>

            {% if user.is_authenticated %}

                    <form action="/subscribe/" method="POST">
                        {% csrf_token %}

                        <!-- передаём через скрытое поле id категории -->
                        <input type="hidden" name="catt_id" value="{{ post.category.id_category }}">
                        <!-- если пользователя нет в категориях, то отображаем кнопку Подписаться-->
                        {% if request.user not in post.category.subscribed.all %}
                            <input type="submit" name="subscribe_button" value="Подписаться">
                        {% else %}
                            <!-- если пользователь есть в категориях, то отображаем кнопку Отписаться-->
                            <input type="submit" name="unsubscribe_button" value="Отписаться">
                        {% endif %}
                    </form>

            {% endif %}

    </p>


    <p>Отклики</p>
    <ul>
    {% for item in post.responses_posts.all %}
        <li>
        {{ item.user }}<br>
        {{ item.status }}<br>

        {{ item.text }}
        </li>
    {% endfor %}
    </ul>

    <hr>

    <p>
        <form method="POST">
        {% csrf_token %}
        {{ form.as_p }} <!-- Теперь нам нужна только готовая форма и кнопка -->
        <input type="submit" value="Добавить отклик">
        </form>
    </p>



{% endblock content %}